#For python
__pycache__/
.pyd
.pyc
.pyo

#For VENV
venv/

#For model
*.pt
*.weights
*.onnx

model/*
!model/.gitkeep

training_images/
!training_images/.gitkeep


#For Data Folders
test_images/


#For OS and editor
.vscode/
