#For python
__pycache__/
.pyd
.pyc
.pyo

#For VENV
venv/

#For model
*.pt
*.weights
*.onnx



#For Data Folders
test_images/*
!test_images/.gitkeep

model/*
!model/.gitkeep

training_images/
!training_images/.gitkeep


#For OS and editor
.vscode/
